.Places__container:not(.Places__container--place) {
  display: none;
}

.Places__container--place {
  position: relative;
}

.Places__container--place input {
  padding-left: 28px !important;
}

.Places__icon {
  left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}

.Places__icon path {
  fill: #cdd2d6;
}
