{#
/**
 * Places plugin for Craft CMS 3.x
 *
 * PlacesField Field Input
 *
 * @author    TrendyMinds
 * @copyright Copyright (c) 2019 TrendyMinds
 * @link      https://trendyminds.com
 * @package   Places
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% if not craft.places.hasKey %}
  <p>
    ⚠️ In order to utilize Places you must <a href="/{{craft.app.config.general.cpTrigger}}/settings/plugins/places">enter your Google Maps key in the plugin settings page</a>. Google Maps is unable to be run in a keyless mode.
  </p>
{% endif %}

{% if craft.places.hasKey %}
  {% for subfield in field.layout %}
    <div class="Places__container Places__container--{{subfield}}">
      {% if subfield == "place" %}
        <svg class="Places__icon" width="12" height="16" viewBox="0 0 12 16" xmlns="http://www.w3.org/2000/svg"><path d="M6 0a6 6 0 0 1 6 6c0 3-3.7 7.4-6 9.2C3.7 13.4 0 9.1 0 6a6 6 0 0 1 6-6zm0 3.6c1.3 0 2.4 1.1 2.4 2.4 0 1.3-1.1 2.4-2.4 2.4A2.5 2.5 0 0 1 3.6 6c0-1.3 1.1-2.4 2.4-2.4z" fill="#000" fill-rule="evenodd"/></svg>

        {{ forms.textField({
            first: true,
            class: "Places__field Places__field--#{subfield} js-Places__field--#{subfield}",
            id: name~'-'~subfield,
            name: name~'['~subfield~']',
            placeholder: "Enter an address, city, state or establishment",
            value: value[subfield]
          })
        }}
      {% endif %}

      {% if subfield != "place" %}
        {{ forms.textField({
            class: "Places__field Places__field--#{subfield} js-Places__field--#{subfield}",
            id: name~'-'~subfield,
            name: name~'['~subfield~']',
            value: value[subfield]
          })
        }}
      {% endif %}
    </div>
  {% endfor %}
{% endif %}
